ul {
    
    list-style-type: none;
    margin:0%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
    
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
.search-input {
            padding: 10px;
            width: 600px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 60px;
            margin-right: 70px;
        }
.search-button {
        
            padding: 10px;
            border: none;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            
        }
        .search-button:hover {
            background-color: #0056b3;
        }
        body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
      }
      
      .container {
          max-width: 600px;
          margin: 50px auto;
          padding: 20px;
          background: white;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    
      h1 {
          text-align: center;
      }
      
      .form-group {
          margin-bottom: 15px;
      }
      
      label {
          display: block;
          margin-bottom: 5px;
      }
      
      input, textarea {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
      }
      
      button {
          width: 100%;
          padding: 10px;
          background-color: #053605df;
          border: none;
          color: white;
          font-size: 16px;
          cursor: pointer;
      }
      
      button:hover {
          background-color: #067906;
      }
      
      .faq-item {
          border: 1px solid #ccc;
          margin-top: 10px;
          padding: 10px;
          border-radius: 5px;
      }
      
      .edit-btn, .delete-btn {
          margin-right: 5px;
          cursor: pointer;
      }
      
      
       